<div class="modal fade" id="regenStudentPasswordModal" tabindex="-1" aria-labelledby="regenStudentPasswordModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="regenStudentPasswordModalLabel">Reset Student Password</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <div>
                    Do you want to reset the password for this student?
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="regenPassword()">Reset Password</button>
            </div>
        </div>
    </div>
</div>