@{
    Layout = "~/Views/Layouts/AdminLayout/LayoutPage.cshtml";
    ViewData["Title"] = "Submission Management";
}



<h2 class="mb-4">Submission Management</h2>

<!-- TABLE -->
<div class="card">

    <div class="table-responsive">
        <table class="table table-hover align-middle mb-0">
            <thead class="table-light">
                <tr>
                    <th>Student Name</th>
                    <th>Score</th>
                    <th>Submitted At</th>
                    <th>Actions</th>
                </tr>
            </thead>

            <tbody id="submissionTableBody">

            </tbody>
        </table>
    </div>

    <!-- PAGINATION -->
    <div class="card-footer d-flex justify-content-center">
        <nav>
            <ul class="pagination mb-0" id="pagination">

            </ul>
        </nav>
    </div>

</div>

<div class="modal fade" id="updateScoreModal" tabindex="-1" aria-labelledby="updateScoreModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="updateScoreModalLabel">Scoring</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <!-- FORM -->
                <form id="updateScoreForm">
                    <input type="hidden" id="submissionId">

                    <div class="mb-3">
                        <label for="Score" class="col-form-label">Score:</label>
                        <input type="number" step=0.01 min=0 max=10 class="form-control" id="Score" name="UpdateScore">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="updateScore()">Update</button>
            </div>
        </div>
    </div>
</div>



<script src="/static/SubmissionManagement/GetSubmissions/WebScript.js"></script>