@{
    Layout = "~/Views/Layouts/AdminLayout/LayoutPage.cshtml";
    ViewData["Title"] = "Course Management";
}



<h2 class="mb-4">Course Management</h2>
@* 
<!-- STATS -->
<div class="row g-3 mb-4">
    <div class="col-md-3">
        <div class="card p-3">
            <div class="text-muted">Total Students</div>
            <h3>1,234</h3>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card p-3">
            <div class="text-muted">Active Students</div>
            <h3>1,150</h3>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card p-3">
            <div class="text-muted">Inactive Students</div>
            <h3>84</h3>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card p-3">
            <div class="text-muted">New Today</div>
            <h3>12</h3>
        </div>
    </div>
</div> *@

<!-- TABLE -->
<div class="card">
    <div class="card-header d-flex justify-content-between">
        <input class="form-control w-25" placeholder="Search students...">

        <button class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#createCourseModal">
            <i class="bi bi-plus-square"></i> Create Course
        </button>
    </div>

    <div class="table-responsive">
        <table class="table table-hover align-middle mb-0">
            <thead class="table-light">
                <tr>
                    <th>Title</th>
                    <th>Subject</th>
                    <th>Teacher Name</th>
                    <th>Price</th>
                    <th>Week Duration</th>
                    <th>Number of registered students</th>
                    <th>Actions</th>
                </tr>
            </thead>

            <tbody id="courseTableBody">
                
            </tbody>
        </table>
    </div>

    <!-- PAGINATION -->
    <div class="card-footer d-flex justify-content-center">
        <nav>
            <ul class="pagination mb-0" id="pagination">
               
            </ul>
        </nav>
    </div>

</div>



@await Html.PartialAsync("~/Views/CourseManagement/GetCourseSessions/PopupModal.cshtml")
@await Html.PartialAsync("~/Views/CourseManagement/ShowAttendanceQr/PopupModal.cshtml")

@await Html.PartialAsync("~/Views/CourseManagement/GetTimetables/PopupModal.cshtml")
@await Html.PartialAsync("~/Views/CourseManagement/CreateTimetable/PopupModal.cshtml")

@await Html.PartialAsync("~/Views/CourseManagement/CreateCourse/PopupModal.cshtml")
@await Html.PartialAsync("~/Views/CourseManagement/UpdateCourse/PopupModal.cshtml")
@await Html.PartialAsync("~/Views/CourseManagement/DeleteCourse/PopupModal.cshtml")




<script src="/static/CourseManagement/GetCourseSessions/PopupScript.js"></script>
<script src="/static/CourseManagement/ShowAttendanceQr/PopupScript.js"></script>

<script src="/static/CourseManagement/GetTimetables/PopupScript.js"></script>
<script src="/static/CourseManagement/CreateTimetable/PopupScript.js"></script>

<script src="/static/CourseManagement/GetCourses/WebScript.js"></script>
<script src="/static/CourseManagement/CreateCourse/PopupScript.js"></script>
<script src="/static/CourseManagement/UpdateCourse/PopupScript.js"></script>
<script src="/static/CourseManagement/DeleteCourse/PopupScript.js"></script>