@{
    Layout = "~/Views/Layouts/StudentLayout/LAyoutPage.cshtml";
}


<!-- SEARCH + FILTER -->
<div class="container mb-4">
    <div class="row g-3 align-items-center">
        <div class="col-md-6">
            <input type="text" class="form-control" placeholder="Search for a course by name...">
        </div>
        <div class="col-md-6 text-md-end">
            <button class="btn btn-outline-secondary me-2">All</button>
            <button class="btn btn-outline-secondary me-2">Technology</button>
            <button class="btn btn-outline-secondary me-2">Arts</button>
            <button class="btn btn-outline-secondary">Business</button>
        </div>
    </div>
</div>

<!-- COURSE GRID -->
<div class="container">
    <div id="courseGrid" class="row g-4">


    </div>

    <!-- PAGINATION -->
    <div class="card-footer d-flex justify-content-center">
        <nav>
            <ul class="pagination mb-0" id="pagination">
            
            </ul>
        </nav>
    </div>
</div>



<script src="/static/Home/WebScript.js"></script>
