@{
    Layout = "~/Views/Layouts/StudentLayout/LayoutPage.cshtml";
}


<main class="container py-5">

    <!-- Course Grid -->
    <div id="courseGrid" class="row g-4">

        <!-- Card 1: Active -->
        @* <div class="col-md-6 col-lg-4">
            <div class="card shadow-sm border-0">
                <div class="position-relative">
                    <img src="https://www.shutterstock.com/shutterstock/photos/1859813464/display_1500/stock-vector-math-horizontal-banner-presentation-website-isolated-lettering-typography-idea-with-icons-1859813464.jpg"
                        class="card-img-top" alt="Data Science">

                    <span class="badge bg-success position-absolute top-0 end-0 m-3">
                        Active
                    </span>
                </div>

                <div class="card-body">
                    <h5 class="card-title fw-bold">Introduction to Data Science</h5>

                    <p class="text-muted mb-1">
                        <span class="material-symbols-outlined fs-6 align-middle">person</span>
                        Dr. Sarah Smith
                    </p>

                    <p class="text-muted">
                        <span class="material-symbols-outlined fs-6 align-middle">calendar_month</span>
                        10 Weeks • Mon/Wed 10:00 AM
                    </p>

                
                    <div class="gap-2 d-flex mt-3">
                        <button class="btn btn-outline-secondary w-100">
                            <span class="material-symbols-outlined fs-6 align-middle">calendar_today</span>
                            Timetable
                        </button>
                        <button class="btn btn-primary w-100">
                            Details →
                        </button>
                    </div>
                </div>
            </div>
        </div> *@

    </div>

    <!-- Pagination -->
    <nav class="d-flex justify-content-center mt-5">
        <ul id="pagination" class="pagination">
            @* <li class="page-item disabled">
                <a class="page-link">‹</a>
            </li>
            <li class="page-item active">
                <a class="page-link">1</a>
            </li>
            <li class="page-item">
                <a class="page-link">2</a>
            </li>
            <li class="page-item">
                <a class="page-link">3</a>
            </li>
            <li class="page-item">
                <a class="page-link">›</a>
            </li> *@
        </ul>
    </nav>

</main>

<script src="/static/MyCourses/WebScript.js"></script>